<div class="timetable">
    <div class="week-names">
        <div>Thứ hai</div>
        <div>Thứ ba</div>
        <div>Thứ tư</div>
        <div>Thứ năm</div>
        <div>Thứ sáu</div>
        <div>Thứ bảy</div>
        <div>Chủ nhật</div>
    </div>
    <div class="time-interval">
        <div>8:00 - 10:00</div>
        <div>10:00 - 12:00</div>
        <div>12:00 - 14:00</div>
        <div>14:00 - 16:00</div>
        <div>16:00 - 18:00</div>
        <div>18:00 - 20:00</div>
    </div>
    <div class="content">
        <div class="schedule-cell">
            <div class="accent-orange-gradient"></div>
        </div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell">
            <div class="accent-green-gradient"></div>
        </div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell">
            <div class="accent-cyan-gradient"></div>
        </div class="schedule-cell">
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell">
            <div class="accent-pink-gradient"></div>
        </div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell">
            <div class="accent-purple-gradient"></div>
        </div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell">
            <div class="accent-purple-gradient"></div>
        </div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
        <div class="schedule-cell"></div>
    </div>
</div>