<div class="card mb-3 mt-3 ms-auto me-auto text-dark" style="max-width: 720px;">
    <div class="card-body text-center">
    Để chỉnh sửa/xóa thông tin thuốc/dịch vụ: <br>
    - Truy cập <i>Tìm kiếm</i><br>
    - Chọn <i>Thuốc</i> hoặc <i>Dịch vụ</i><br>
    - Nhấn vào tên thuốc/dịch vụ để xem chi tiết<br>
    - Nhấn vào nút chỉnh sửa/xóa để chỉnh sửa/xóa<br>
</div>
</div>