<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">403</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Bạn không có quyền truy cập trang này</p>
        <p class="lead">
            Bạn không có quyền truy cập trang này. Vui lòng đăng nhập với tư cách khác.
        </p>
        <a href="/" class="btn btn-primary">Về trang chủ</a>
    </div>
</div>