<section class="h-100 h-custom" style="background-image:linear-gradient(114.08deg, #BDD65A 51.97%, rgba(34, 198, 119, 0.59) 104.26%, rgba(223, 0, 0, 0.69) 104.27%, rgba(125, 96, 138, 0.208333) 104.28%);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-8 col-xl-6">
        <div class="card rounded-3">
          <img src="https://itsourcecode.com/wp-content/uploads/2019/04/hp-zdravotnictvi.jpg"
            class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
            alt="Sample photo">
          <div class="card-body p-4 p-md-5">
            <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Đăng nhập</h3>

            <form class="px-md-2" action="/dang-nhap" method="POST">
              {{!-- Username input --}}
              <div class="form-outline mb-4">
                <input type="text" id="Username" class="form-control" name="Username" value="{{Username}}" required/>
                <label class="form-label" for="Username">Username</label>
              </div>

               <p class="text-danger d-{{errWrongUsername}}">Username does not exists</p>

              {{!-- Password input --}}
              <div class="form-outline mb-4">
                <input type="password" id="Password" class="form-control" value="{{Password}}" name="Password" required/>
                <label class="form-label" for="Password">Mật khẩu</label>
              </div>

               <p class="text-danger d-{{errWrongPassword}}">Wrong password</p>


              {{!-- Button submit --}}
              <button type="submit" class="btn btn-success btn-lg mb-4">Đăng nhập</button>

              {{!-- Link login --}}
              <p class="mb-1" style="color: #000;">Bạn chưa có tài khoản? Đăng ký tại <a href="/dang-ky-tai-khoan"
              style="color: rgb(0, 102, 255);">đây</a></p>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>