{{#ifEquals info "delete"}}
<div class="row">
    <div class="alert alert-success alert-dismissible fade show mb-0" role="alert">
        <strong>Đã xóa thuốc.</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
</div>
{{/ifEquals}}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">404</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span> Không tìm thấy trang.</p>
        <p class="lead">
            Trang bạn đang tìm kiếm không tồn tại
        </p>
        <a href="/" class="btn btn-primary">Về trang chủ</a>
    </div>
</div>