<div class="table-container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" colspan="5" class="table-title">BÁO CÁO DOANH THU THEO NGÀY</th>
            </tr>
            <tr>
                <th scope="col" colspan="5" class="month-report">Tháng <input type="text"></th>
            </tr>
            <tr>
                <th scope="col">STT</th>
                <th scope="col">Ngày</th>
                <th scope="col">Số bệnh nhân</th>
                <th scope="col">Doanh thu</th>
                <th scope="col">Tỷ lệ</th>
            </tr>
        </thead>
        <tbody>
            {{{createInput 31}}}
        </tbody>
    </table>
</div>